<section class="container" id="page_content">
    <div class="row">
        <div class="span9">
            <section class="row">
                <div class="span9">
                    <h3>关于我们</h3>
                    <p class="lead muted">放松放松的方式的顶顶顶顶顶的顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶</p>
                                                                                                                                               <p>萨顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌</p>
                </div>          
            </section>
            <section>
                <div class="row">
                    <div class="span9">
                        <h3>我们的团队</h3>
                    </div> 
                </div>
                <div class="row">
                    <div class="span2 text-center">老大</div>
                    <div class="span7">
                        <p>水电费水电费胜多负少</p>
                    </div>
                </div>
     
                <div class="row">
                    <div class="span2 text-center">
                        老二
                        <h6>水电费</h6>
                    </div>
                    <div class="span7">
                        <p>水电费水电费水电费山东公司东方闪电</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 text-center">
                      老三
                        <h6 class="text-center">士大夫似的</h6>
                    </div>
                    <div class="span7">
                        <p>师傅水电费水电费是否</p>
                    </div>
                </div>
            </section>
         </div>
    </div>
</section>
