<html lang="en-us">
    <head>
        <meta name="viewport"  content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
    	<title>About Us</title>
    	<link href="/home/mdony/workspace/tongpao/statics/css/bootstrap.css" rel="stylesheet">
        <script src="/home/mdony/workspace/tongpao/statics/js/jquery-1.11.0.min.js"></script>
        <script src="/home/mdony/workspace/tongpao/statics/js/bootstrap.js"></script>
        <style>
            div.leftmargin{margin-left:2cm}
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <img src="/home/mdony/workspace/tongpao/statics/images/tu1.jpg" class="img-respomsive" alt=""Responsive image>
            </div>
            <p class="navbar-text"><strong>about us</strong></p>
            </nav>
        </div>
        <div class="leftmargin">
            <h1 class="text-center">同袍工作室 <small>关于同袍工作室</small></h1>
            <p class="lead">我真的不知道说什么,<small>我们一直被追赶，但从未被超越</small>
            </p>
            <ol>
                <li>发展与历史</li>
                <p class="lead">APP</<p>
                <p>app是应用啦</p>
                <li>产品与服务</li>
                <li>工作室文化</li>
            </ol>
        </div>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <p class="navbar-text">最终解释权归同袍工作室所有&nbsp</p>
            <p class="navbar-text">联系方式：<a href="#" class="navbar-link">monsterlab@gmail.com</a></p>
            </nav>
        </div
    </body>
</html>
