<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>同袍工作室</title>
  <link href="/home/hehaoyang/workspace/tongpao/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/home/hehaoyang/workspace/tongpao/static/css/templatemo_style_fix_menu.css" rel="stylesheet" type="text/css">
  <link href="/home/hehaoyang/workspace/tongpao/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="/home/hehaoyang/workspace/tongpao/static/css/templatemo_style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#" target="_parent">同袍工作室</a>
          <nav class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="index.html">首页</a></li>
              <li><a href="about.html">关于</a></li>
              <li><a href="showworks.html">作品展示</a></li>          
              <li><a href="contact.html">联系我们</a></li>
			  <li><a href="login.html">登陆</a></li>
			  <li><a href="register.html">注册</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">呵呵<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"  target="_blank">呵呵</a></li>
                  <li><a href="#" target="_blank">呵呵</a></li>
                  <li><a href="#" target="_blank">呵呵</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="container" id="carousel_container">
    <div class="row">
      <div class="span12">
        <div id="artCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#artCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#artCarousel" data-slide-to="1"></li>
            <li data-target="#artCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active"><img src="/home/hehaoyang/workspace/tongpao/static/images/20110711_2495bedd36f63480f3bcQN4w6jx68UFS.jpg" width="100%" height="50%" alt="Model 1">
              <div class="carousel-caption">
                <h4>同袍工作室</h4>
                <p>欢迎光临！！！！！！！！</p>
              </div>
            </div>
            <div class="item"><a href="#" target="_blank"><img src="/home/hehaoyang/workspace/tongpao/static/images/a3367452_s.jpg" width="100%" height="50%" alt="啊啊"></a></div>
            <div class="item"><img src="/home/hehaoyang/workspace/tongpao/static/images/633966991515625000.jpg" width="100%" alt="哈哈哈"></div>
          </div>
          <a class="left carousel-control" href="#artCarousel" data-slide="prev">&lsaquo;</a> <a class="right carousel-control" href="#artCarousel" data-slide="next">&rsaquo;</a> 
        </div>
      </div>
    </div>
  </section>
 
  <section class="container marketing">
    <div class="row">
      <article class="span4">
        <h3>标题一</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        </p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
      <article class="span4">
        <h3>标题二</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        </p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
      <article class="span4">
        <h3>标题三</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达
            阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨
            </p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
    </div>
    <hr class="featurette-divider">
    <article class="row">
      <div class="span12">
        <img class="img-rounded featurette-image pull-right" src="/home/hehaoyang/workspace/tongpao/static/images/01.jpg" style="margin-left: 30px" alt="得到">
        <h3 class="featurette-heading">标题四</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达</p>
      </div>
    </article>
    <hr class="featurette-divider">
    <article class="row">
      <div class="span12">
        <img class="img-rounded featurette-image pull-left" src="/home/hehaoyang/workspace/tongpao/static/images/02.jpg" style="margin-right: 20px">
        <h3 class="featurette-heading">标题五</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达</p>
      </div>
    </article>
    <hr class="featurette-divider">
    <article class="row">
      <div class="span12">
        <img class="img-rounded featurette-image pull-right" src="/home/hehaoyang/workspace/tongpao/static/images/03.jpg" style="margin-left: 30px" alt="辅导费">
        <h3 class="featurette-heading">标题六</h3>
        <p>阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达四大大发萨斯
        	阿喀琉斯你发看来你是否可拉伸倪发科两三次啊阿诗玛来看神马啊实打实大师范德萨发生的速度阿萨达</p>
      </div>
    </article>    
  </section>
  
  <footer>
    
      <div class="credit">
        <p id="templatemo_cr_bar">
          Copyright © 2072 同袍工作室 <a href="#">东北电力大学</a></a>
        </p>
      </div>
    </div>
  </footer>

  <script src="/home/hehaoyang/workspace/tongpao/static/js/jQuery.1.7.1.min.js"></script>
  <script src="/home/hehaoyang/workspace/tongpao/static/js/bootstrap.min.js"></script>
  <script>
    $('#artCarousel').carousel({
      interval: 4000,
      cycle: true
    });
  </script>
  </body>
</html>
