<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>同袍工作室</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/templatemo_style_fix_menu.css" rel="stylesheet" type="text/css">
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#" target="_parent">同袍工作室</a>
          <nav class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="index.html">首页</a></li>
              <li><a href="about.html">关于</a></li>
              <li><a href="showworks.html">作品展示</a></li>          
              <li><a href="contact.html">联系我们</a></li>
			  <li><a href="login.html">登陆</a></li>
			  <li><a href="register.html">注册</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">呵呵<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"  target="_blank">呵呵</a></li>
                  <li><a href="#" target="_blank">呵呵</a></li>
                  <li><a href="#" target="_blank">呵呵</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="container" id="carousel_container">
    <div class="row">
      <div class="span12">
        <div id="artCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#artCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#artCarousel" data-slide-to="1"></li>
            <li data-target="#artCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active"><img src="/static/images/20110711_2495bedd36f63480f3bcQN4w6jx68UFS.jpg" width="100%" height="50%" alt="Model 1">
              <div class="carousel-caption">
                <h4>同袍工作室</h4>
                <p>欢迎光临！！！！！！！！</p>
              </div>
            </div>
            <div class="item"><a href="#" target="_blank"><img src="/static/images/a3367452_s.jpg" width="100%" height="50%" alt="啊啊"></a></div>
            <div class="item"><img src="/static/images/633966991515625000.jpg" width="100%" alt="哈哈哈"></div>
          </div>
          <a class="left carousel-control" href="#artCarousel" data-slide="prev">&lsaquo;</a> <a class="right carousel-control" href="#artCarousel" data-slide="next">&rsaquo;</a> 
        </div>
      </div>
    </div>
  </section>
 
  <section class="container marketing">
    <div class="row">
      <article class="span4">
        <div class="list3_outter list3_news">
		<div class="list3_inner">
			
		</div>
		<div class="list3_cover"><span class="introduction">更多精彩新闻敬请期待......</span></div>
	</div>
       
        <p class="more"><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
      <article class="span4">
        <div class="list3_outter list3_members">
		<div class="list3_inner">
			
		</div>
	<div class="list3_cover"><span class="introduction">团队精神是大局意识、协作精神和服务精神的集中体现，核心是协同合作，反映的是个体利益和整体利益的统一，并进而保证组织的高效率运转。</span></div>
	</div>
        <p class="more"><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
      <article class="span4">
       <div class="list3_outter list3_honer">
		<div class="list3_inner">
			
		</div>
	<div class="list3_cover"><span class="introduction">汗水后的荣誉.......</span></div>
	</div>
        <p class="more"><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </article>
    </div>
       
  </section>
  
  <footer>
    
      <div class="credit">
        <p id="templatemo_cr_bar">
          Copyright © 2072 同袍工作室 <a href="#">东北电力大学</a></a>
        </p>
      </div>
    </div>
  </footer>

  <script src="/static/js/jQuery.1.7.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script>
    $('#artCarousel').carousel({
      interval: 4000,
      cycle: true
    });
    $('document').ready(function(){
	$('.list3_outter.list3_news').hover(
		
		function(){
			$('.list3_news .list3_inner,.list3_news .list3_cover .introduction').css('display','block');
			$('.list3_news .list3_cover').css('background','rgba(0,0,0,.9)');
		},
		function(){
			$('.list3_news .list3_inner,.list3_cover .introduction').css('display','none');
			$('.list3_news .list3_cover').css('background','rgba(0,0,0,.1)');
		}
	);
	$('.list3_outter.list3_members').hover(
		
		function(){
			$('.list3_members .list3_inner,.list3_members .list3_cover .introduction').css('display','block');
			$('.list3_members .list3_cover').css('background','rgba(0,0,0,.9)');
		},
		function(){
			$('.list3_members .list3_inner,.list3_cover .introduction').css('display','none');
			$('.list3_members .list3_cover').css('background','rgba(0,0,0,.1)');
		}
	);
	$('.list3_outter.list3_honer').hover(
		
		function(){
			$('.list3_honer .list3_inner,.list3_honer .list3_cover .introduction').css('display','block');
			$('.list3_honer .list3_cover').css('background','rgba(0,0,0,.9)');
		},
		function(){
			$('.list3_honer .list3_inner,.list3_cover .introduction').css('display','none');
			$('.list3_honer .list3_cover').css('background','rgba(0,0,0,.1)');
		}
	);
    });
  </script>
  </body>
</html>
