<html lang="en-us">
    <head>
        <meta name="viewport"  content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
    	<title>Login</title>
    	<link href="/home/mdony/workspace/tongpao/statics/css/bootstrap.css" rel="stylesheet">
        <script src="/home/mdony/workspace/tongpao/statics/js/jquery-1.11.0.min.js"></script>
        <script src="/home/mdony/workspace/tongpao/statics/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <img src="/home/mdony/workspace/tongpao/statics/images/tu1.jpg" class="img-respomsive" alt=""Responsive image>
            </div>
            <p class="navbar-text"><strong>login page</strong></p>
            </nav>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-3">
                    <input type="email" class="form-control .col-sm-*" id="inputEmail3"
                    placeholder="UserName" width="70" >
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control .col-sm-*" id="inputPassword3"
                    placeholder="Password" width="70" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </body>
</html>
