$def with (data)
<div class="container">
    	<div class="row">
        		<h2 class="title" align="center">新闻列表</h2>
                <ol class="news_list">
                $for row in data['rows']:
                    $ date = data['functions']['tsp2date'](row['created'])
                    <li><a href='/news/view/$row['id']'>$row['title']</a>|<span>$date</span></li>

                </ol>
          
        <div>
    	
        <div class="pagination">
            <div class="pageindex_start">
                <ul>
                    <li><a href="/news/list?page=1" class="number" id="firstPage">首页</a></li> 
                    <li><a href="/news/list?page=$data['last_page']" id='previous'>上一页</a></li> 
                </ul>
            </div>
            <div class="pageindex_outter">
                    <ul class="pageindex">
                    $for page in range(data['start_page'],data['end_page'] + 1):
                        <li><a href="/news/list?page=$page" class="number">$page</a></li> 

                    </ul>
            </div>
            <div class="pageindex_end">
                <ul>
                    <li><a href="/news/list?page=$data['next_page']" id='next'>下一页</a></li> 
                    <li><a href="/news/list?page=$data['page_count']" id='lastPage'>尾页</a></li> 
                </ul>
            </div>
        </div>
        <div class="cleaner"></div>
</div>
