<form action='/register' method='post'>
    <p><label for = 'username'>用户名</label><input type = 'text' name = 'username' id = 'username'/></p>
    <p><label for = 'passwd'>密码</label><input type = 'password' name = 'passwd' id = 'passwd'/></p>
    <p><label for = 'repasswd'>确认密码</label><input type = 'password' name = 'repasswd' id = 'repasswd'/></p>
    <p><label for = 'email'>邮箱</label><input type = 'text' name = 'email' id = 'email'/></p>
    <p><input type = 'submit' name = 'sub' value='注册''/></p>
</form>
