$def with (data)
<section class="container" id="page_content">
    <div class="row">
        <div class="span12">
            <h3>我们的作品</h3>
            <p class="lead muted">撒大大撒大声地</p>
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品1</a>
                </li>
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品</a>
                </li>
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品</a>
                </li>                                    
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品</a>
                </li>
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品</a>
                </li>
                <li class="span4">
                    <a href="#myModal" class="thumbnail" data-toggle="modal">作品</a>
                </li>               
            </ul>             
        </div>
    </div>        
</section>
