<form action='/admin/addteamwork' method='post'>
    <p>添加团队作品<p/>
    <p><label for = 'work_name'>作品名称:</label><input type = 'text' name = 'work_name' id = 'work_name'/></p>
    <p><label for = 'work_intro'>作品简介：</label><textarea type = 'text' name =
        'work_intro' id = 'work_intro' cols = '20' rows = '3'></textarea></p>
    <p><label for = 'team_leader'>组长 :</label><input type = 'text' name = 'team_leader' id = 'team_leader'/></p>
    <p><label for = 'team_members'>组员 :</label><input type = 'text' name = 'team_members' id = 'team_members'/></p>
    <p><label for = 'start_time'>开始时间 :</label><input type = 'text' name = 'start_time' id = 'start_time'/></p>
    <p><label for = 'end_time'>结束时间 :</label><input type = 'text' name = 'end_time' id = 'end_time'/></p>
    <p><label for = 'honor'>所获荣誉:</label><input type = 'text' name = 'honor' id = 'honor'/></p>

    <p><input type = 'submit' name = 'sub' value='添加'/></p>
</form>
