$def with(newslist)
<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>选择 文章 来修改 | Django 站点管理员</title>
<link rel="stylesheet" type="text/css" href="delnews_files/base.css">

  
  <link rel="stylesheet" type="text/css" href="delnews_files/changelists.css">
  
  
    <script type="text/javascript" src="delnews_files/a"></script>
  
  
  

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>


<script type="text/javascript" src="delnews_files/core.js"></script>
<script type="text/javascript" src="delnews_files/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="delnews_files/jquery_002.js"></script>
<script type="text/javascript" src="delnews_files/jquery.js"></script>
<script type="text/javascript" src="delnews_files/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">


</head>
<body>
<form action="" method="POST">
$for row in newslist:
    <li> <input type="checkbox" name="id" value="$row['id']">$row['title']</li>
    $row['content']
<button type="submit">删除新闻</button>
</form>

</body></html>
