$def with (data)
<div class='wrap list_user'>
    <ul class='users'>
        $for row in data['rows']:
            $ date = data['functions']['tsp2date'](row['created'])
            $ is_active = '已激活' if row['is_active'] == 1 else '未激活'
            <li><a href='/admin/user?mod=view&u_id=$row['u_id']'>$row['username']</a><span>删除</span><span>$is_active</span><span>$row['description']</span><span>注册日期: $date</span></li>
    </ul>
    <hr />
    <div class="pager">
        <ul class="pagination">
            <li><a href="/admin/user?mod=list&page=1" class="number">首页</a></li> 
            <li><a href="/admin/user?mod=list&page=$data['last_page']">上一页</a></li> 
            $for page in range(data['start_page'],data['end_page'] + 1):
                <li><a href="/admin/user?mod=list&page=$page" class="number">$page</a></li> 
            <li><a href="/admin/user?mod=list&page=$data['next_page']">下一页</a></li> 
            <li><a href="/admin/user?mod=list&page=$data['page_count']">尾页</a></li> 
        </ul>
    </div>
</div>
