$def with (data)
<h1> user list</h1>
<ul>
    $for row in data['rows']:
        $ date = data['functions']['tsp2date'](row['created'])
        $ is_active = '已激活' if row['is_active'] == 1 else '未激活'
        <li><a href='/admin/users?mod=view_user?u_id=$row['u_id']'>$row['username']</a>|<span>注册日期: $date</span><span>$is_active</span><span>$row['description']</span><span>修改</span><span>删除</span></li>
</ul>
<hr />
<div class="pager_center">
    <ul class="pagination">
        <li class="disabled"><a href="/admin/users?mod=view_users&page=1" class="number">首页</a></li> 
        <li class="disabled"><a href="/admin/users?mod=view_users&page=$data['last_page']">上一页</a></li> 
        $for page in range(data['start_page'],data['end_page'] + 1):
            <li><a href="/admin/users?mod=view_users&page=$page" class="number">$page</a></li> 
        <li><a href="/admin/users?mod=view_users&page=$data['next_page']">下一页</a></li> 
        <li><a href="/admin/users?mod=view_users&page=$data['page_count']">尾页</a></li> 
    </ul>
</div>
<style>
    .pager_center li{
        float:left;
        border:1px solid black;
        margin-left:5px
    }

    span{
        display:inline-block;
        margin-left:10px;
    }
</style>

